<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.Nith"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Level01"
            android:label="First level of the game"
       />
        <activity
            android:name=".Level02"
            android:label="Second level of the game"/>

        <activity
            android:name=".Level03"
            android:label="Third level of the game"/>

        <activity
            android:name=".Level04"
            android:label="Fourth level of the game"/>

        <activity
            android:name=".Level05"
            android:label="Fifth level of the game"/>

        <activity
            android:name=".Level06"
            android:label="Sixth level of the game"/>

        <activity
            android:name=".Level07"
            android:label="Seventh level of the game"/>

        <activity
            android:name=".Level08"
            android:label="Eighth level of the game"/>

    </application>

</manifest>